nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 70px;
    background-color: #131010;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    transition: all .6s ease-in-out;
    transform: translate(0%, 0);
    z-index: 2;
}

.teste{position: absolute;
    margin-right: 70%;
    width: 5%;
    
}

.gerente{
    background-color:  #131010;
    border-radius: 10%;
    width: 120px;
    height: 35px;
    color: #131010;
}